{% extends 'index.html' %}
{% load static %}
{% block content %}


<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
    <div class="container">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Offline Classes</h1>
        <nav class="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'Home' %}">Home</a></li>
                <li class="breadcrumb-item text-white" aria-current="page">Offline Classes</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Offline Classes Start   -->
<div class="py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.3s" style="max-width: 600px;">
            <h2>Interactive offline Classes with Google Classroom Integration</h2>
            <div class="mt-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="row">
                    <div class="col-3">
                        <label class="major">Major:</label>
                        <select name="major" class="form-select shadow-none" id="major">
                            <option value="All">All</option>
                            <option value="Maths">Maths</option>
                            <option value="Physics">Physics</option>
                            <option value="Info">Info</option>
                            <option value="Biology">Biology</option>
                            <option value="Chemistry">Chemistry</option>
                            <option value="Bio-Chemistry">Bio-Chemistry</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label class="year">Year:</label>
                        <select name="year" class="form-select shadow-none" id="year">
                            <option value="All">All</option>
                            <option value="1st Year">1st Year</option>
                            <option value="2nd Year">2nd Year</option>
                            <option value="3rd Year">3rd Year</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label class="language">Language:</label>
                        <select name="language" class="form-select shadow-none" id="language">
                            <option value="All">All</option>
                            <option value="Frensh">Frensh</option>
                            <option value="English">English</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label class="semester">Semester:</label>
                        <select name="semester" class="form-select shadow-none" id="semester">
                            <option value="All">All</option>
                            <option value="Semester 1">Semester 1</option>
                            <option value="Semester 2">Semester 2</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5 grid">
            {% for offlineclass in offlineclasses %}
            <div class="col-md-6 col-lg-4 wow fadeInUp item" data-major="{{offlineclass.course.major}}"
                 data-year="{{offlineclass.course.year}}" data-language="{{offlineclass.language}}"
                 data-semester="{{offlineclass.course.semester}}" data-wow-delay="0.5s">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-title">Class Name: <a href="{% url 'OfflineDetails' id=offlineclass.id %}">
                            {{offlineclass.name}}</a>
                        </div>
                        <div class="card-text">Language: {{offlineclass.language}}</div>
                    </div>
                    <div class="price-box d-flex flex-row align-items-center">
                        <div class="course-author-name"><span>Teacher: </span> {{offlineclass.teacher.name}}</div>
                        <div class="course-price d-flex flex-column align-items-center justify-content-center">
                            <span>${{offlineclass.price}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Offline Classes End   -->


{% endblock content %}