{% extends 'index.html' %}
{% load static %}
{% block content %}


<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
    <div class="container">
        <h1 class="display-3 text-white mb-3 animated slideInDown">{{offlineoffer.name}}</h1>
        <nav class="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'Home' %}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'Offline' %}">Offline Classes</a></li>
                <li class="breadcrumb-item text-white" aria-current="page">{{offlineoffer.name}}</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Detail Start -->
<section class="course-details-area py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.3s" style="max-width: 600px;">
            <h2>{{offlineoffer.name}}</h2>
        </div>

        <div class="row justify-content-center">
            {% for offer in offlineoffer.offlineclasses.all %}
            <div class="col-md-6 col-lg-4 right-contents wow fadeInUp" data-wow-delay="0.5s">
                <ul>
                    <li>
                        <div class="justify-content-between d-flex">
                            <p>Class </p>
                            <span class="text-primary">{{offer.name}}</span>
                        </div>
                    </li>
                    <li>
                        <div class="justify-content-between d-flex">
                            <p>Teacher’s Name </p>
                            <span class="text-primary">{{offer.teacher.name}}</span>
                        </div>
                    </li>
                    <li>
                        <div class="justify-content-between d-flex">
                            <p>Language </p>
                            <span class="text-primary">{{offer.language}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>

        <div class="text-end wow fadeInUp" data-wow-delay="0.7s">
            {% if request.user.is_authenticated and not request.user.teacher %}
            {% if isRequested %}
            <button class="btn text-uppercase btn-primary disabled" disabled> Request Sent</button>
            {% else %}
            <a href="{% url 'OfflineOfferEnroll' id=offlineoffer.id %}" class="btn text-uppercase btn-primary">
                Get The Offer </a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</section>
<!-- Detail End   -->


{% endblock content %}