{% extends 'index.html' %}
{% load static %}
{% block content %}

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <div class="container">
        <a href="{% url 'Home' %}" class="navbar-brand d-flex align-items-center">
            <img src="{% static 'img/logo.webp' %}" alt="logo">
        </a>
        <button type="button" class="navbar-toggler me-4 shadow-none" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{% url 'Home' %}" class="nav-item nav-link">Home</a>
                <a href="{% url 'About' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'Service' %}" class="nav-item nav-link">Service</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Classes</a>
                    <div class="dropdown-menu bg-light m-0">
                        <a href="{% url 'Online' %}" class="dropdown-item">Online</a>
                        <a href="{% url 'Offline' %}" class="dropdown-item active">Offline</a>
                        <a href="{% url 'VIP' %}" class="dropdown-item">VIP</a>
                    </div>
                </div>

                <a href="{% url 'Contact' %}" class="nav-item nav-link">Contact Us</a>

                {% if request.user.is_authenticated %}
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Hello
                        {{ request.user.username }}
                    </a>
                    <div class="dropdown-menu bg-light m-0">
                        <a href="{% url 'MyClasses' %}" class="dropdown-item">My Classes</a>
                        <a href="{% url 'Logout' %}" class="dropdown-item">Logout</a>
                    </div>
                </div>
                {% endif %}

                {% if not request.user.is_authenticated %}
                <a href="{% url 'Register' %}" class="nav-item nav-link">Register</a>
                <a href="{% url 'Login' %}" class="nav-item nav-link">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<!-- Navbar End -->


<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
    <div class="container">
        <h1 class="display-3 text-white mb-3 animated slideInDown">{{offlineclass.name}}</h1>
        <nav class="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'Home' %}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'Offline' %}">Offline Classes</a></li>
                <li class="breadcrumb-item text-white" aria-current="page">{{offlineclass.name}}</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Detail Start -->
<section class="course-details-area py-5">
    <div class="container">
        <div class="row">

            <div class="col-lg-8">
                {% if request.user.is_authenticated %}
                {% if isEnrolled or isAdmin %}
                <section style="background-color: #eee;">
                    <div class="card" id="chat1">
                        <div class="card-body" style="position: relative; height: 400px;">
                            {% for offlinemessage in offlinemessages %}

                            {% if offlinemessage.user == request.user %}
                            <div class="d-flex flex-row justify-content-end my-2">
                                <div>
                                    <small class="mb-2 rounded-3 text-muted d-flex justify-content-end">@me</small>
                                    {% if offlinemessage.body %}
                                    <p class="p-2 mb-1 text-white rounded-3 bg-primary">{{offlinemessage.body}}</p>
                                    {% endif %}

                                    {% if offlinemessage.voice %}
                                    <div class="mb-1">
                                        <audio controls controlsList="nodownload">
                                            <source src="{{offlinemessage.voice.url}}" type="audio/mp3">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                    {% endif %}

                                    {% if offlinemessage.image %}
                                    <div class="mb-1">
                                        <a href="{{offlinemessage.image.url}}" data-lightbox="OFF{{offlineclass.id}}">
                                            <img class="img-fluid" alt="image" width="300px"
                                                 src="{{offlinemessage.image.url}}">
                                        </a>
                                    </div>
                                    {% endif %}
                                    <small class="mb-3 rounded-3 text-muted d-flex justify-content-end">
                                        {{offlinemessage.created}}
                                    </small>
                                </div>
                            </div>
                            {% else %}
                            <div class="d-flex flex-row justify-content-start my-2">
                                <div>
                                    <small class="mb-2 rounded-3 text-muted">
                                        @{{offlinemessage.user.username}}
                                    </small>

                                    {% if offlinemessage.body %}
                                    <p class="p-2 mb-1 rounded-3" style="background-color: #f5f6f7;">
                                        {{offlinemessage.body}}
                                    </p>
                                    {% endif %}

                                    {% if offlinemessage.voice %}
                                    <div class="mb-1">
                                        <audio controls controlsList="nodownload">
                                            <source src="{{offlinemessage.voice.url}}" type="audio/mp3">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                    {% endif %}

                                    {% if offlinemessage.image %}
                                    <div class="mb-1">
                                        <a href="{{offlinemessage.image.url}}" data-lightbox="OFF{{offlineclass.id}}">
                                            <img class="img-fluid" width="300px" alt="image"
                                                 src="{{offlinemessage.image.url}}">
                                        </a>
                                    </div>
                                    {% endif %}

                                    <small class="mb-3 rounded-3 text-muted">{{offlinemessage.created}}</small>
                                </div>
                            </div>
                            {% endif %}

                            {% endfor %}
                        </div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                                <input type="text" name="message" class="form-control form-control-lg shadow-none"
                                       placeholder="Type message..." id="chat-message-input">
                                <button class="btn ms-2" id="chat-message-submit"><i class="fas fa-paper-plane"></i>
                                </button>
                                <button class="btn" id="startRecord"><i class="fas fa-microphone"></i>
                                </button>
                                <button class="btn d-none" id="stopRecord"><i class="fas fa-stop"></i>
                                </button>
                                <button class="btn d-none" id="deleteRecord"><i class="fas fa-trash"></i>
                                </button>
                                <button class="btn" id="image-file-handler"><i class="fas fa-image"></i>
                                </button>
                                <input type="file" id="image-file" class="d-none" accept="image/*">
                            </div>
                        </form>
                    </div>
                </section>
                {% else %}
                <div>
                    <h3>Enroll In This Class To Get Access To Group Chat</h3>
                </div>
                {% endif %}
                {% endif %}
            </div>

            <div class="col-lg-4 right-contents">
                <ul>
                    <li>
                        <div class="justify-content-between d-flex">
                            <p>Teacher’s Name</p>
                            <span class="text-primary">{{offlineclass.teacher.name}}</span>
                        </div>
                    </li>
                    <li>
                        <div class="justify-content-between d-flex">
                            <p>Class Fee </p>
                            <span class="text-primary">${{offlineclass.price}}</span>
                        </div>
                    </li>
                    <li>
                        <div class="justify-content-between d-flex">
                            <p>Language </p>
                            <span class="text-primary">{{offlineclass.language}}</span>
                        </div>
                    </li>
                    {% if request.user.is_authenticated %}
                    {% if isEnrolled or isAdmin %}
                    <li>
                        <div class="justify-content-between d-flex">
                            <p>Classroom </p>
                            <span>
                                <a href="{{offlineclass.classroom_link}}" target="_blank">Go Classroom</a>
                            </span>
                        </div>
                    </li>
                    {% endif %}
                    {% endif %}
                </ul>
                {% if request.user.is_authenticated and not isAdmin %}
                {% if isRequested %}
                <button class="btn text-uppercase btn-primary w-100 disabled" disabled>Request Sent</button>
                {% elif not isEnrolled %}
                <a href="{% url 'OfflineEnroll' id=offlineclass.id %}" class="btn text-uppercase btn-primary w-100">
                    Enroll The Class</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- Detail End   -->

{% if isEnrolled or isAdmin %}

{{ request.user.id|json_script:"user" }}
{{ offlineclass.id|json_script:"class_id" }}
{{ offlineclass.name|json_script:"class_name" }}
{{ "offline"|json_script:"class_type" }}

<script src="{% static 'js/liveChat.js' %}"></script>

{% endif %}

{% endblock content %}
