{% extends 'index.html' %}
{% load static %}
{% block content %}


<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
    <div class="container">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Classes</h1>
        <nav class="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'Home' %}">Home</a></li>
                <li class="breadcrumb-item text-white" aria-current="page">Classes</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Classes Start   -->
<div class="py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.3s" style="max-width: 600px;">
            <h2>Interactive Classes with Google Classroom Integration</h2>
            <div class="mt-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <label class="form-label" for="track">Choose a Track:</label>
                        <select name="track" class="form-select shadow-none" id="track">
                            <option value="All">All</option>
                            <option value="Web Development">Web Development</option>
                            <option value="Mobile Application">Mobile Application</option>
                            <option value="AI">AI</option>
                            <option value="Game Development">Game Development</option>
                            <option value="Desktop Application">Desktop Application</option>
                            <option value="Cyber Security">Cyber Security</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label class="form-label" for="language">Language:</label>
                        <select name="language" class="form-select shadow-none" id="language">
                            <option value="All">All</option>
                            <option value="French">French</option>
                            <option value="English">English</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5 grid">
            {% for classe in classes %}
            <div class="col-md-6 col-lg-4 wow fadeInUp item" data-track="{{classe.course.track}}"
                 data-language="{{classe.language}}" data-wow-delay="0.5s">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-title">Class Name: <a href="{% url 'ClassDetails' id=classe.id %}">
                            {{classe.name}}</a>
                        </div>
                        <div class="card-text">Language: {{classe.language}}</div>
                    </div>
                    <div class="price-box d-flex flex-row align-items-center">
                        <div class="course-author-name"><span>Teacher: </span> {{classe.teacher.name}}</div>
                        <div class="course-price d-flex flex-column align-items-center justify-content-center">
                            <span>${{classe.price}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Classes End   -->


{% endblock content %}