.ftco-section {
  padding: 7em 0;
}

.wrap {
  width: 100%;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.img, .login-wrap {
  width: 50%;
}

@media (max-width: 991.98px) {
    .img, .login-wrap {
      width: 100%;
    }
}

@media (max-width: 767.98px) {
  .wrap .img {
    height: 250px;
  }
}

.login-wrap {
  position: relative;
  background: #fff h3;
  font-weight: 300;
}

.input-group-text {
    color: #0d6efd !important;
    background: none !important;
    border: none !important;
}

.form-control {
    border: none !important;
    border-radius: 0 !important;
    background: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid var(--primary) !important;
}