{% extends 'index.html' %}
{% load static %}
{% block content %}


<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
    <div class="container">
        <h1 class="display-3 text-white mb-3 animated slideInDown">{{vipcourse.name}}</h1>
        <nav class="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'Home' %}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'VIP' %}">VIP Classes</a></li>
                <li class="breadcrumb-item text-white" aria-current="page">{{vipcourse.name}}</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Detail Start -->
<section class="course-details-area py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Exclusive one-on-one sessions to elevate the learning journey with personalized attention.</h2>
                {% if isEnrolled %}
                <a href="{% url 'VIPClass' id=vipclass.id %}" class="text-uppercase">Go To Class</a>
                {% endif %}
            </div>
            <div class="col-lg-4 right-contents">
                <ul>
                    <li>
                        <div class="justify-content-between d-flex">
                            <p>Teacher’s Name</p>
                            <span class="text-primary">{{vipcourse.teacher.name}}</span>
                        </div>
                    </li>
                    <li>
                        <div class="justify-content-between d-flex">
                            <p>Class Fee </p>
                            <span class="text-primary">${{vipcourse.price}}</span>
                        </div>
                    </li>
                    <li>
                        <div class="justify-content-between d-flex">
                            <p>Language </p>
                            <span class="text-primary">{{vipcourse.language}}</span>
                        </div>
                    </li>
                </ul>
                {% if request.user.is_authenticated and not isAdmin %}
                {% if isRequested %}
                <button class="btn text-uppercase btn-primary w-100 disabled" disabled>Request Sent</button>
                {% elif not isEnrolled %}
                <a href="{% url 'VIPEnroll' id=vipcourse.id %}" class="btn text-uppercase btn-primary w-100">
                    Enroll The Class</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- Detail End   -->


{% endblock content %}