{% extends 'index.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/select.css' %}" rel="stylesheet">
<div class="container">
    <div class="text-center">
        <h4>Choose a Track</h4>
    </div>
    <div class="grid-wrapper grid-col-auto">
        <label for="radio-card-1" class="radio-card">
            <input type="radio" name="radio-card" id="radio-card-1" checked/>
            <div class="card-content-wrapper">
                <span class="check-icon"></span>
                <div class="card-content">
                    <img class="mb-2 img-fluid"
                         src="https://image.freepik.com/free-vector/group-friends-giving-high-five_23-2148363170.jpg"/>
                    <h4>Lorem ipsum dolor.</h4>
                    <h5>Lorem ipsum dolor sit amet, consectetur.</h5>
                </div>
            </div>
        </label>

        <label for="radio-card-2" class="radio-card">
            <input type="radio" name="radio-card" id="radio-card-2"/>
            <div class="card-content-wrapper">
                <span class="check-icon"></span>
                <div class="card-content">
                    <img class="mb-2 img-fluid"
                         src="https://image.freepik.com/free-vector/people-putting-puzzle-pieces-together_52683-28610.jpg"/>
                    <h4>Lorem ipsum dolor.</h4>
                    <h5>Lorem ipsum dolor sit amet, consectetur.</h5>
                </div>
            </div>
        </label>
    </div>
</div>
<!-- /.container -->

{% endblock content %}