{% extends 'index.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/select.css' %}" rel="stylesheet">

<div class="container my-5 wow fadeInUp" data-wow-delay="0.3s">
    <div class="text-center mb-3">
        <h2>Choose a Track</h2>
    </div>
    <div class="row g-4 justify-content-center text-center">
        <div class="col-md-6 col-lg-4">
            <label for="radio-card-1" class="radio-card">
                <input type="radio" name="radio-card" id="radio-card-1" checked/>
                <div class="card-content-wrapper">
                    <span class="check-icon"></span>
                    <div class="card-content">
                        <img class="mb-2 img-fluid"
                             src="https://image.freepik.com/free-vector/group-friends-giving-high-five_23-2148363170.jpg"/>
                        <h4>Lorem ipsum dolor.</h4>
                        <h5>Lorem ipsum dolor sit amet, consectetur.</h5>
                    </div>
                </div>
            </label>
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="radio-card-2" class="radio-card">
                <input type="radio" name="radio-card" id="radio-card-2"/>
                <div class="card-content-wrapper">
                    <span class="check-icon"></span>
                    <div class="card-content">
                        <img class="mb-2 img-fluid"
                             src="https://image.freepik.com/free-vector/people-putting-puzzle-pieces-together_52683-28610.jpg"/>
                        <h4>Lorem ipsum dolor.</h4>
                        <h5>Lorem ipsum dolor sit amet, consectetur.</h5>
                    </div>
                </div>
            </label>
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="radio-card-3" class="radio-card">
                <input type="radio" name="radio-card" id="radio-card-3" checked/>
                <div class="card-content-wrapper">
                    <span class="check-icon"></span>
                    <div class="card-content">
                        <img class="mb-2 img-fluid"
                             src="https://image.freepik.com/free-vector/group-friends-giving-high-five_23-2148363170.jpg"/>
                        <h4>Lorem ipsum dolor.</h4>
                        <h5>Lorem ipsum dolor sit amet, consectetur.</h5>
                    </div>
                </div>
            </label>
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="radio-card-4" class="radio-card">
                <input type="radio" name="radio-card" id="radio-card-4"/>
                <div class="card-content-wrapper">
                    <span class="check-icon"></span>
                    <div class="card-content">
                        <img class="mb-2 img-fluid"
                             src="https://image.freepik.com/free-vector/people-putting-puzzle-pieces-together_52683-28610.jpg"/>
                        <h4>Lorem ipsum dolor.</h4>
                        <h5>Lorem ipsum dolor sit amet, consectetur.</h5>
                    </div>
                </div>
            </label>
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="radio-card-5" class="radio-card">
                <input type="radio" name="radio-card" id="radio-card-5" checked/>
                <div class="card-content-wrapper">
                    <span class="check-icon"></span>
                    <div class="card-content">
                        <img class="mb-2 img-fluid"
                             src="https://image.freepik.com/free-vector/group-friends-giving-high-five_23-2148363170.jpg"/>
                        <h4>Lorem ipsum dolor.</h4>
                        <h5>Lorem ipsum dolor sit amet, consectetur.</h5>
                    </div>
                </div>
            </label>
        </div>
        <div class="col-md-6 col-lg-4">
            <label for="radio-card-6" class="radio-card">
                <input type="radio" name="radio-card" id="radio-card-6"/>
                <div class="card-content-wrapper">
                    <span class="check-icon"></span>
                    <div class="card-content">
                        <img class="mb-2 img-fluid"
                             src="https://image.freepik.com/free-vector/people-putting-puzzle-pieces-together_52683-28610.jpg"/>
                        <h4>Lorem ipsum dolor.</h4>
                        <h5>Lorem ipsum dolor sit amet, consectetur.</h5>
                    </div>
                </div>
            </label>
        </div>
    </div>
</div>

{% endblock content %}