{% extends 'index.html' %}
{% load static %}
{% block content %}


<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative" data-dot="<img src='{% static 'img/carousel-1.webp' %}'>">
            <img class="img-fluid" src="{% static 'img/carousel-1.webp' %}" alt="carousel">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown"> Interactive Online Classes with
                                Google Classroom Integration</h1>
                            <p class="d-none d-lg-block fs-5 fw-medium text-white mb-4 pb-3">Join our virtual classroom
                                for interactive online learning. Access course materials and records conveniently
                                through Google Classroom, fostering engagement and providing a flexible educational
                                experience.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative" data-dot="<img src='{% static 'img/carousel-2.webp' %}'/>">
            <img class="img-fluid" src="{% static 'img/carousel-2.webp' %}" alt="carousel">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown">Live Online Classes via Zoom with
                                Google Classroom Access</h1>
                            <p class="d-none d-lg-block fs-5 fw-medium text-white mb-4 pb-3">Experience real-time
                                virtual learning through engaging Zoom meetings. Access course materials, assignments,
                                and records effortlessly on Google Classroom, combining interactive sessions with
                                easy-to-retrieve resources.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative" data-dot="<img src='{% static 'img/carousel-3.webp' %}'/>">
            <img class="img-fluid" src="{% static 'img/carousel-3.webp' %}" alt="carousel">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown">Personalized VIP Classes</h1>
                            <p class="d-none d-lg-block fs-5 fw-medium text-white mb-4 pb-3">Experience one-on-one
                                sessions with our expert teachers in our VIP classes. Tailored curriculum and individual
                                attention to help you succeed in your studies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- Feature Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="feature-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">STUDENTS</h5>
                        <p>Empowering a community of learners with quality education. Join our diverse student body on a
                            journey to success.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="feature-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">PROJECTS DONE</h5>
                        <p>Our students have successfully completed thousands of projects, showcasing their skills and
                            creativity.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">SUCCESS</h5>
                        <p>Our commitment to excellence has led to the success of 10,000+ students who have achieved
                            their goals.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="feature-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">EXPERT TEACHERS</h5>
                        <p>Our dedicated team of expert teachers is here to guide and inspire students on their
                            educational journey.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"
             style="max-width: 600px;">
            <h2 class="text-primary">Our Services</h2>
            <h1 class="mb-4">We Are Pioneers In The World Of Education</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-4 col-lg-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/service-2.webp' %}" alt="online">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa-solid fa-book fa-3x"></i>
                        </div>
                        <h1 class="mb-3">Online</h1>
                        <p> Interactive virtual sessions paired with Google Classroom access for
                            effortless resource management.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/service-1.webp' %}" alt="offline">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa-solid fa-book fa-3x"></i>
                        </div>
                        <h1 class="mb-3">Offline</h1>
                        <p>Dynamic virtual learning, utilizing Google Classroom for record sharing and
                            fostering collaboration.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/service-3.webp' %}" alt="vip">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa-solid fa-book fa-3x"></i>
                        </div>
                        <h1 class="mb-3">VIP</h1>
                        <p>Exclusive one-on-one sessions to elevate the learning journey with personalized
                            attention.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/service-4.webp' %}" alt="chat">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa-solid fa-comments fa-3x"></i>
                        </div>
                        <h1 class="mb-3">Chat</h1>
                        <p>Connect and engage across online and offline classes through integrated chat for continuous
                            interaction.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- About Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100"
                         src="{% static 'img/about.webp' %}" style="object-fit: cover;" alt="about">
                </div>
            </div>
            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 pe-lg-0">
                    <h2 class="text-primary">About Us</h2>
                    <h1 class="mb-4">Empowering Education: The Journey of Sara Othman and GOTOP Academy</h1>
                    <p>In the heart of Lebanon's educational landscape stands a remarkable institution that has reshaped
                        the way university students approach learning. Meet Sara Othman, a visionary leader who serves
                        as the Center Manager of GOTOP Academy, a beacon of academic excellence and student support.</p>
                    <p><i class="fa-solid fa-circle-check text-primary me-3"></i>A Vision Realized through Persistence
                    </p>
                    <p><i class="fa-solid fa-circle-check text-primary me-3"></i>Pioneering a New Era in Education</p>
                    <p><i class="fa-solid fa-circle-check text-primary me-3"></i>Shining Bright: A Legacy of
                        Student-Centric Excellence</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Feedback Start  -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h2 class="text-primary">Testimonial</h2>
            <h1 class="mb-4">What Our Students Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item text-center">
                <div class="testimonial-text text-center rounded p-4">
                    <p>I faced some challenges understanding M1101 initially, but it's truly rewarding to share that I
                        studied and understood two chapters of the material in just one day. Thanks for the learning
                        experience!</p>
                    <h5 class="mb-1">Ahmad Mertben</h5>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-text text-center rounded p-4">
                    <p>Hello, how are you? I am Dana, Mahmoud Hamza's sister. Thankfully, Mahmoud passed and achieved
                        the following scores in his exams: Physics: 70/100 Chemistry: 65/100
                        He also secured the seventh rank. These scores were obtained in the second session. Thank you
                        for your efforts.</p>
                    <h5 class="mb-1">Dana Hamza</h5>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-text text-center rounded p-4">
                    <p>Until now, I have completed the courses M1101, P1101, S100, and I100 in less than a month, and,
                        of course, I have understood them well. Hopefully, I expect to achieve very good results in the
                        exams. Thank you very much. It's great that I registered with you, and, of course, I will
                        continue with your courses.</p>
                    <h5 class="mb-1">Guest</h5>
                </div>
            </div>
            {% for feedback in feedbacks %}
            <div class="testimonial-item text-center">
                <div class="testimonial-text text-center rounded p-4">
                    <p>{{feedback.message}}.</p>
                    <h5 class="mb-1">{{feedback.name}}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Feedback End  -->


{% endblock content %}