{% extends 'index.html' %}
{% load static %}
{% block content %}


<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative" data-dot="<img src='{% static 'img/carousel-1.webp' %}'>">
            <img class="img-fluid" src="{% static 'img/carousel-1.webp' %}" alt="carousel">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown"> Interactive Online Classes with
                                Google Classroom Integration</h1>
                            <p class="d-none d-lg-block fs-5 fw-medium text-white mb-4 pb-3">Join our virtual classroom
                                for interactive online learning. Access course materials and records conveniently
                                through Google Classroom, fostering engagement and providing a flexible educational
                                experience.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative" data-dot="<img src='{% static 'img/Master.jpg' %}'/>">
            <img class="img-fluid" src="{% static 'img/Master.jpg' %}" alt="carousel">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown">Live Online Classes via Zoom with
                                Google Classroom Access</h1>
                            <p class="d-none d-lg-block fs-5 fw-medium text-white mb-4 pb-3">Experience real-time
                                virtual learning through engaging Zoom meetings. Access course materials, assignments,
                                and records effortlessly on Google Classroom, combining interactive sessions with
                                easy-to-retrieve resources.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative" data-dot="<img src='{% static 'img/carousel-3.webp' %}'/>">
            <img class="img-fluid" src="{% static 'img/carousel-3.webp' %}" alt="carousel">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown">Personalized VIP Classes</h1>
                            <p class="d-none d-lg-block fs-5 fw-medium text-white mb-4 pb-3">Experience one-on-one
                                sessions with our expert teachers in our VIP classes. Tailored curriculum and individual
                                attention to help you succeed in your studies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- Feature Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="feature-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">STUDENTS</h5>
                        <p>Empowering a community of learners with quality education. Join our diverse student body on a
                            journey to success.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="feature-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">PROJECTS DONE</h5>
                        <p>Our students have successfully completed thousands of projects, showcasing their skills and
                            creativity.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="feature-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">SUCCESS</h5>
                        <p>Our commitment to excellence has led to the success of 10,000+ students who have achieved
                            their goals.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="feature-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">EXPERT TEACHERS</h5>
                        <p>Our dedicated team of expert teachers is here to guide and inspire students on their
                            educational journey.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->

<!-- Services Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h2 class="text-primary" style="letter-spacing: 5px;">Services</h2>
            <h1 class="mb-4">Our Excellent CCTV Security Services</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="flaticon-cctv d-block display-1 fw-normal text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">CCTV</h5>
                        <h3 class="mb-3">HTML</h3>
                        <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="flaticon-surveillance d-block display-1 fw-normal text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">CCTV</h5>
                        <h3 class="mb-3">Django</h3>
                        <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="fa-solid fa-camera fa-3x text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">CCTV</h5>
                        <h3 class="mb-3">Cyber Security</h3>
                        <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="flaticon-double fa-3x text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">CCTV</h5>
                        <h3 class="mb-3">Computing</h3>
                        <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="flaticon-security-system d-block display-1 fw-normal text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">CCTV</h5>
                        <h3 class="mb-3">Python</h3>
                        <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                    <div class="position-relative p-5">
                        <i class="flaticon-recorder d-block display-1 fw-normal text-secondary mb-3"></i>
                        <h5 class="text-primary mb-0">CCTV</h5>
                        <h3 class="mb-3">Java</h3>
                        <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
<!--                        <a href="">Read More<i class="bi bi-arrow-right ms-2"></i></a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->

<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title mb-4">
                    <h2 class="position-relative d-inline-block text-primary">About Us</h2>
                    <h1 class="mb-4">The World's Best Dental Clinic That You Can Trust</h1>
                </div>
                <h4 class="text-body fst-italic mb-4">Diam dolor diam ipsum sit. Clita erat ipsum et lorem stet no lorem
                    sit clita duo justo magna dolore</h4>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam amet
                    diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita
                    duo justo et tempor eirmod magna dolore erat amet</p>
                <div class="row g-2">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Award Winning</h5>
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Professional Staff</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>24/7 Opened</h5>
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>Fair Prices</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                         src="{% static 'img/about.webp' %}" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Feedback Start  -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h2 class="text-primary">Testimonial</h2>
            <h1 class="mb-4">What Our Students Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item text-center">
                <div class="testimonial-text text-center rounded p-4">
                    <p>I faced some challenges understanding M1101 initially, but it's truly rewarding to share that I
                        studied and understood two chapters of the material in just one day. Thanks for the learning
                        experience!</p>
                    <h5 class="mb-1">Ahmad Mertben</h5>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-text text-center rounded p-4">
                    <p>Hello, how are you? I am Dana, Mahmoud Hamza's sister. Thankfully, Mahmoud passed and achieved
                        the following scores in his exams: Physics: 70/100 Chemistry: 65/100
                        He also secured the seventh rank. These scores were obtained in the second session. Thank you
                        for your efforts.</p>
                    <h5 class="mb-1">Dana Hamza</h5>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-text text-center rounded p-4">
                    <p>Until now, I have completed the courses M1101, P1101, S100, and I100 in less than a month, and,
                        of course, I have understood them well. Hopefully, I expect to achieve very good results in the
                        exams. Thank you very much. It's great that I registered with you, and, of course, I will
                        continue with your courses.</p>
                    <h5 class="mb-1">Guest</h5>
                </div>
            </div>
            {% for feedback in feedbacks %}
            <div class="testimonial-item text-center">
                <div class="testimonial-text text-center rounded p-4">
                    <p>{{feedback.message}}.</p>
                    <h5 class="mb-1">{{feedback.name}}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Feedback End  -->


{% endblock content %}