<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>AcedmiTechLearn</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Welcome to AcedmiTechLearn"/>


    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'img/logo.webp' %}">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{%static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{%static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{%static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <!--    <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
          integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- Template Stylesheet -->
    <link href="{%static 'css/style.css' %}" rel="stylesheet">

</head>
<body>

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <div class="container">
        <a class="navbar-brand d-none d-lg-block" href="{% url 'Home' %}">AcedmiTechLearn</a>
        <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="offcanvas offcanvas-start" tabIndex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Hello User</h5>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3 gap-2 gap-lg-4">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'About' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Service' %}">Service</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Classes</a>
                        <div class="dropdown-menu bg-light m-0">
                            <a href="{% url 'Online' %}" class="dropdown-item">Online</a>
                            <a href="{% url 'Offline' %}" class="dropdown-item">Offline</a>
                            <a href="{% url 'VIP' %}" class="dropdown-item">VIP</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Contact' %}">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn dropdown-toggle border-0 hidden-arrow" type="button" data-bs-toggle="dropdown"
                    data-bs-auto-close="true" aria-expanded="false">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle"
                     height="40" alt="avatar"
                />
            </button>

            <ul class="dropdown-menu dropdown-menu-end">

                {% if request.user.is_authenticated %}
                <li class='dropdown-item'>
                    <a class="nav-link" href="{% url 'Logout' %}">My Classes</a>
                </li>
                <li class='dropdown-item'>
                    <a class="nav-link" href="{% url 'Logout' %}">Logout</a>
                </li>
                {% endif %}

                {% if not request.user.is_authenticated %}
                <li class="dropdown-item">
                    <a class="nav-link" href="{% url 'Register' %}">Register</a>
                </li>
                <li class="dropdown-item">
                    <a class="nav-link" href="{% url 'Login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

</nav>
<!-- Navbar End -->

{% block content %}

{% endblock %}


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-outline-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

<!-- Footer Start -->
<footer class="container-fluid bg-dark footer wow fadeIn" data-wow-delay="0.2s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-4">Address</h5>
                <p class="mb-2"><i class="fa-solid fa-location-dot me-3"></i>North Lebanon</p>
                <p class="mb-2">
                    <a href="tel:96171639299" class="btn p-0 shadow-none">
                        <i class="fa-solid fa-phone me-3"></i>+961 71 639 299
                    </a>
                </p>
                <p class="mb-2">
                    <a href="http://wa.me/96171639299" target='_blank' rel="noreferrer" class="btn p-0 shadow-none">
                        <i class="fa-brands fa-whatsapp me-3"></i>+961 71 639 299
                    </a>
                </p>
                <p class="mb-2">
                    <a href="mailto:gotopacademy@gmail.com" class="btn p-0 shadow-none">
                        <i class="fa-solid fa-envelope me-3"></i>gotopacademy@gmail.com
                    </a>
                </p>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-4">Quick Links</h5>
                <a class="btn btn-link" href="{% url 'About' %}">About Us</a>
                <a class="btn btn-link" href="{% url 'Service' %}">Our Services</a>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-4">Project Gallery</h5>
                <div class="row g-2">
                    <div class="col-4">
                        <img class="img-fluid rounded" src="{% static 'img/gallery-1.webp' %}" alt="gallery">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded" src="{% static 'img/gallery-2.webp' %}" alt="gallery">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded" src="{% static 'img/gallery-3.webp' %}" alt="gallery">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded" src="{% static 'img/gallery-4.webp' %}" alt="gallery">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded" src="{% static 'img/gallery-5.webp' %}" alt="gallery">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded" src="{% static 'img/gallery-6.webp' %}" alt="gallery">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="{% url 'Home' %}">GoTop Academy</a>, All Right Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->

<!-- JavaScript Libraries -->
<script src="{% static 'lib/jquery-3.4.1.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"
        integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>