{% extends 'index.html' %}
{% load static %}
{% block content %}


<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
    <div class="container">
        <h1 class="display-3 text-white mb-3 animated slideInDown">My Classes</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'Home' %}">Home</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">My Classes</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- My Classes Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Class</th>
                    <th scope="col">Language</th>
                    <th scope="col">Teacher</th>
                    <th scope="col">Type</th>
                    <th scope="col">Zoom</th>
                    <th scope="col">Classroom</th>
                    <th scope="col">View</th>
                </tr>
                </thead>

                <tbody>
                {% for offline in offline_classes %}
                <tr>
                    <td>{{offline.name}}</td>
                    <td>{{offline.language}}</td>
                    <td>{{offline.teacher.name}}</td>
                    <td>Offline</td>
                    <td>---</td>
                    <td><a href="{{offline.classroom_link}}" target="_blank">Go Classroom</a></td>
                    <td><a href="{% url 'OfflineDetails' id=offline.id %}"><i class="fa-solid fa-eye"></i></a></td>
                </tr>
                {% endfor %}

                {% for online in online_classes %}
                <tr>
                    <td>{{online.name}}</td>
                    <td>{{online.language}}</td>
                    <td>{{online.teacher.name}}</td>
                    <td>Online</td>
                    <td><a href="{{online.zoom_link}}" target="_blank">Go Zoom</a></td>
                    <td><a href="{{online.classroom_link}}" target="_blank">Go Classroom</a></td>
                    <td><a href="{% url 'OnlineDetails' id=online.id %}"><i class="fa-solid fa-eye"></i></a></td>
                </tr>
                {% endfor %}

                {% for vip in vip_classes %}
                <tr>
                    <td>{{vip.name}}</td>
                    <td>{{vip.vip_course.language}}</td>
                    <td>{{vip.teacher.name}}</td>
                    <td>VIP</td>
                    <td><a href="{{vip.zoom_link}}" target="_blank">Go Zoom</a></td>
                    <td><a href="{{vip.classroom_link}}" target="_blank">Go Classroom</a></td>
                    <td><a href="{% url 'VIPClass' id=vip.id %}"><i class="fa-solid fa-eye"></i></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- My Classes End -->

{% endblock content %}