<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>GoTop Academy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'img/logo.webp' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>

<div class="container d-flex justify-content-center align-items-center vh-100" style="max-width: 460px;">
    <div class="row">
        <div class="text-center p-4 bg-primary">
            <h2 style="color: #FAFAF9;">GoTop Academy</h2>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <img src="{% static 'img/icon_email.png' %}" class="my-4" alt="email">
                <h2 class="p-2 text-center mb-3 text-primary">You're Nearly There!</h2>
                <p class="card-text p-2 text-center">We Just Need To Verify Your Email Address To Complete Setting Up
                    Your Account.</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>